<%= render 'layouts/header' %>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 view-all-header">
			<%= link_to 'Add+', new_menu_path, class: 'add-new-text btn btn-primary' %>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 view-all-header">
			<%= link_to 'View All', menucms_path, class: 'view-all-text btn btn-primary' %>
 		</div>
	</div><br>
	<h2 style="text-align:center; color: #fff">CATERING MENU</h2>
	 <div class="container">	
	   <div class="row">
      <h2 style="text-align:center">Entrees</h2>
		  <% Menu.all.where(:section => 'Entree').each do |menu| %>
			 <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" ><br>
				  <div class="menu-cms-image"><%= image_tag(menu.image(:medium)) %></div><br>
				  <div class="menu-cms-title"><%= menu.name %></div><br>
				  <div class="menu-cms-description"><%= menu.description %></div><br>
				  <div class="menu-cms-edit-delete">
				  <%= link_to 'EDIT', edit_menu_path(menu), class: 'menu-cms-edit' %>
				  <%= link_to 'DELETE', menu, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'menu-cms-edit' %>
				</div>
			</div>
		  <% end %>
		  </div>
      <div class="row">
        <h2 style="text-align:center">Side Items</h2>
          <% Menu.all.where(:section => 'Side Item').each do |menu| %>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" ><br>
              <div class="menu-cms-image"><%= image_tag(menu.image(:medium)) %></div><br>
              <div class="menu-cms-title"><%= menu.name %></div><br>
              <div class="menu-cms-description"><%= menu.description %></div><br>
              <div class="menu-cms-edit-delete">
              <%= link_to 'EDIT', edit_menu_path(menu), class: 'menu-cms-edit' %>
			  <%= link_to 'DELETE', menu, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'menu-cms-edit' %>
			  </div>
            </div>
          <% end %>
      </div>
      <div class="row">
        <h2 style="text-align:center">Appetizer</h2>
          <% Menu.all.where(:section => 'Appetizer').each do |menu| %>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" ><br>
              <div class="menu-cms-image"><%= image_tag(menu.image(:medium)) %></div><br>
              <div class="menu-cms-title"><%= menu.name %></div><br>
              <div class="menu-cms-description"><%= menu.description %></div><br>
              <div class="menu-cms-edit-delete">
              <%= link_to 'EDIT', edit_menu_path(menu), class: 'menu-cms-edit' %>
			  <%= link_to 'DELETE', menu, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'menu-cms-edit' %>
			  </div>
            </div>
          <% end %>
      </div>
      <div class="row">
        <h2 style="text-align:center">Dessert</h2>
          <% Menu.all.where(:section => 'Dessert').each do |menu| %>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" ><br>
              <div class="menu-cms-image"><%= image_tag(menu.image(:medium)) %></div><br>
              <div class="menu-cms-title"><%= menu.name %></div><br>
              <div class="menu-cms-description"><%= menu.description %></div><br>
              <div class="menu-cms-edit-delete">
              <%= link_to 'EDIT', edit_menu_path(menu), class: 'menu-cms-edit' %>
			  <%= link_to 'DELETE', menu, method: :delete,  data: { confirm: 'Are you sure?' }, class: 'menu-cms-edit' %>
			  </div>
            </div>
          <% end %>
      </div>
