<div class="row">
	<div class="col-md-3 col-sm-3 header-col"><%= link_to 'LOGO', root_path %></div>
  	<div class="col-md-6 col-sm-3 header-col">CONTENT MANAGEMENT SYSTEM</div>
  	<div class="col-md-3 col-sm-3 header-col">Sign Out</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-3 header-col">UPDATE YOUR INFORMATION</div>
</div>
<div class="row">
	<div class="col-md-2 col-sm-3 home-header">
		<%= link_to 'HOME', cms_path, class: 'cms-header' %>
	</div>
	<div class="col-md-2 col-sm-3 home-header">
		<%= link_to "WHAT'S NEW", groupscms_path, class: 'cms-header' %>
	</div>
	<div class="col-md-4 col-sm-3 home-header">
	   	<%= link_to 'HOW YOUR FOOD IS PREPPED', kitchens_path, class: 'cms-header' %>
	</div>
	<div class="col-md-2 col-sm-3 home-header">
	   	<%= link_to 'CATERING MENU', menucms_path, class: 'cms-header' %>
	</div>
	<div class="col-md-2 col-sm-3 home-header">
	   	<%= link_to 'CONTACT DETAILS', contacts_path, class: 'cms-header' %>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3 home-header">
	   	<%= link_to 'GALLERY', photocms_path, class: 'cms-header' %>
	</div>
	<div class="col-md-3 col-sm-3 home-header">
	   	<%= link_to 'SOCIAL MEDIA LINKS', socialcms_path, class: 'cms-header' %>
	</div>
	<div class="col-md-3 col-sm-3 home-header">
	   	<%= link_to 'META-INFORMATION', metainfos_path, class: 'cms-header' %>
	</div>
		<div class="col-md-3 col-sm-3 home-header">
	   	<%= link_to 'CONTACT LIST', customers_path, class: 'cms-header' %>
	</div>
</div>
<div>
